################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ComputerSystem/TermProject/TermProject/x64/Debug
/ComputerSystem/TermProject/.vs/TermProject
/ComputerSystem/TermProject/x64/Debug
