################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ComputerSystem/TermProject/TermProject/x64/Debug
/ComputerSystem/TermProject/.vs/TermProject
/ComputerSystem/TermProject/x64/Debug
/ComputerSystem/TermProject/asm TermProject
/ComputerSystem/TermProject/x86asm TermProject
/ComputerSystem/TermProject/TermProject/x64/Release
/ComputerSystem/TermProject/x64/Release
/MachineLearning/TermProject/data
/MachineLearning/TermProject/__pycache__
*.pth

/ComputerVision/.vs/ComputerVision
/ComputerVision/HoughLineDetect/x64
/ComputerVision/x64
/ComputerVision/.vs/CopilotSnapshots/CF207D54828D8D44B6D2FB187B59E170
/ComputerVision/HarrisCornerDetector/x64/Debug
/ComputerVision/FeatureMatching/x64/Debug
/ComputerVision/TermProject/x64/Debug
